.App {
  text-align: center;
  width: 60%;
  margin: auto;

  
}



.done {
  /* text-decoration: line-through; */
  background-color: lightyellow;
}

.form {
  display: grid;
  grid-template-rows: auto;
  width:50%;
  margin:1% auto;
	margin-right: auto; margin-left: auto; width: 21%; 
	padding-top: 11px;

}

.task-list li{
  list-style:none;
}


